@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rustic Roadway";
  src: url("/fonts/RusticRoadway.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marcellus";
  src: url("/fonts/MARCELLUS-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-rustic: "Rustic Roadway", cursive;
    --font-marcellus: "Marcellus", serif;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

@media print {
  .invitation-card {
    box-shadow: none !important;
    transform: none !important;
  }
}
