@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rustic Roadway";
  src: url("/fonts/RusticRoadway.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marcellus";
  src: url("/fonts/MARCELLUS-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-rustic: "Rustic Roadway", cursive;
    --font-marcellus: "Marcellus", serif;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

@media print {
  .invitation-card {
    box-shadow: none !important;
    transform: none !important;
  }
}

.flower-loader-flower {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateFlower 8s ease infinite;
}

.flower-loader-petal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 60px;
  margin-left: -17.5px;
  margin-top: -30px;
  transform-origin: center 30px;
  background: linear-gradient(180deg, #fcdbdf, #fd688d);
  border-radius: 50%;
  animation: changeColor 8s reverse infinite;
}

.flower-loader-petal1 {
  transform: rotate(0deg) translateY(-50%);
  animation-delay: 0.1s;
}

.flower-loader-petal2 {
  transform: rotate(45deg) translateY(-50%);
  animation-delay: 0.2s;
}

.flower-loader-petal3 {
  transform: rotate(90deg) translateY(-50%);
  animation-delay: 0.3s;
}

.flower-loader-petal4 {
  transform: rotate(135deg) translateY(-50%);
  animation-delay: 0.4s;
}

.flower-loader-petal5 {
  transform: rotate(180deg) translateY(-50%);
  animation-delay: 0.5s;
}

.flower-loader-petal6 {
  transform: rotate(225deg) translateY(-50%);
  animation-delay: 0.6s;
}

.flower-loader-petal7 {
  transform: rotate(270deg) translateY(-50%);
  animation-delay: 0.7s;
}

.flower-loader-petal8 {
  transform: rotate(315deg) translateY(-50%);
  animation-delay: 0.8s;
}

.flower-loader-center {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f1d2d2;
  border-radius: 50%;
}

@keyframes changeColor {
  0% {
    background: linear-gradient(180deg, #fcdbdf, #fd688d);
  }
  25% {
    background: linear-gradient(180deg, #fcd2e3, #fa6094);
  }
  50% {
    background: linear-gradient(180deg, #fabefc, #c34ec7);
  }
  75% {
    background: linear-gradient(180deg, #f7d6d6, #fd6a6a);
  }
  100% {
    background: linear-gradient(180deg, #fcd3fc, #e844f7);
  }
}

@keyframes rotateFlower {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
